<html>

<head>
	<link href='https://fonts.googleapis.com/css?family=Poiret One' rel='stylesheet'>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

	<img src="/static/bg.jpg" class="bg">
	<a href="{{url_for('showDepartments')}}">
		<img src="{{ url_for('static', filename='back.png') }}" height="80px" width=80px class="back">
	</a>
	<div class='header'>
		<h1>New Department</h1>
	</div>
	<div class='container'>
		<div align=center>
		<form action="#" method='post'>

	
			<p class="product">Name:</p>
			<input type='text' size='30' name='name'>
			<p class="product" >Image Url :</p>
			<input type='text' size='30' name='image'>
<br><br>
			<input class="product"type='submit' value='Create'>

		</form>
	</div>
</body>

</html>